@model IEnumerable<ProyectoTFG_League.Models.ModoJuegoModelo>

@{
    ViewData["Title"] = "Modos de Juegos";
}

<style>
    .text-center {
        text-align: center;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .table {
        margin-top: 20px;
    }

        .table th, .table td {
            vertical-align: middle;
        }

    .btn-sm {
        margin: 2px;
    }
</style>

<h1 class="text-center">Modos de Juego</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center font-weight-bold">@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Tipo)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.DescripcionM)</td>
                <td class="text-center">
                    <a asp-controller="ModoJuego" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning mb-2">Editar</a>
                    <a asp-controller="ModoJuego" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Añadir Nuevo Modo de Juego</a>
</p>
