@model IEnumerable<ProyectoTFG_League.Models.CampeonModelo>

@{
    ViewData["Title"] = "Campeones";
    var posicionSeleccionada = ViewBag.Posicion != null ? ViewBag.Posicion.ToString() : "";
    var nombreCampeon = ViewBag.Nombre != null ? ViewBag.Nombre.ToString() : "";
}

<style>
    .text-center {
        text-align: center;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .table {
        margin-top: 20px;
    }

        .table th, .table td {
            vertical-align: middle;
        }

    .btn-sm {
        margin: 2px;
    }
</style>

<h1 class="text-center">Lista de Campeones</h1>

<form method="get" asp-action="Busqueda">
    <div class="col-md-4 mb-3">
        <label for="posicion">Posición</label>
        <select class="form-control" id="posicion" name="posicion">
            @foreach (var item in ViewBag.Posiciones)
            {
                <option value="@item.Value" selected="@((item.Value == ViewBag.Posicion) ? "selected" : null)">@item.Text</option>
            }
        </select>
    </div>
    <div class="col-md-4 mb-3">
        <label for="nombre">Nombre del Campeón</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="@nombreCampeon" placeholder="Nombre del Campeón">
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary button-spacing">Aplicar Filtros</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</form>
<br />
<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">
                <a href="@Url.Action("Busqueda", new { sortOrder = ViewBag.SortOrder == "nombre_desc" ? "nombre_asc" : "nombre_desc", posicion = ViewBag.Posicion, nombre = ViewBag.Nombre })">
                    Nombre
                    @if (ViewBag.SortOrder == "nombre_desc")
                    {
                        <span>&#9660;</span>
                    }
                    else if (ViewBag.SortOrder == "nombre_asc")
                    {
                        <span>&#9650;</span>
                    }
                </a>
            </th>
            <th class="text-center">Rol</th>
            <th class="text-center">Posición</th>
            <th class="text-center">Recurso</th>
            <th class="text-center">Gama</th>
            <th class="text-center">
                <a href="@Url.Action("Busqueda", new { sortOrder = ViewBag.SortOrder == "fecha_desc" ? "fecha_asc" : "fecha_desc", posicion = ViewBag.Posicion, nombre = ViewBag.Nombre })">
                    Año de Salida
                    @if (ViewBag.SortOrder == "fecha_desc")
                    {
                        <span>&#9660;</span>
                    }
                    else if (ViewBag.SortOrder == "fecha_asc")
                    {
                        <span>&#9650;</span>
                    }
                </a>
            </th>
            <th class="text-center">
                <a href="@Url.Action("Busqueda", new { sortOrder = ViewBag.SortOrder == "costeRP_desc" ? "costeRP_asc" : "costeRP_desc", posicion = ViewBag.Posicion, nombre = ViewBag.Nombre })">
                    Coste RP
                    @if (ViewBag.SortOrder == "costeRP_desc")
                    {
                        <span>&#9660;</span>
                    }
                    else if (ViewBag.SortOrder == "costeRP_asc")
                    {
                        <span>&#9650;</span>
                    }
                </a>
            </th>
            <th class="text-center">
                <a href="@Url.Action("Busqueda", new { sortOrder = ViewBag.SortOrder == "costeAzul_desc" ? "costeAzul_asc" : "costeAzul_desc", posicion = ViewBag.Posicion, nombre = ViewBag.Nombre })">
                    Coste Esencias
                    @if (ViewBag.SortOrder == "costeAzul_desc")
                    {
                        <span>&#9660;</span>
                    }
                    else if (ViewBag.SortOrder == "costeAzul_asc")
                    {
                        <span>&#9650;</span>
                    }
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campeon in Model)
        {
            <tr>
                <td class="text-center-cell">
                    @if (campeon.Imagen != null && campeon.Imagen.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(campeon.Imagen);
                        <img src="data:image;base64,@base64" alt="Imagen del campeón" class="img-thumbnail" width="75" height="75" />
                    }
                </td>
                <td class="text-center font-weight-bold">
                    <a asp-action="Details" asp-route-id="@campeon.ID">@campeon.Nombre</a>
                </td>
                <td>@campeon.NombreRol.Nombre</td>
                <td>@campeon.Posicion</td>
                <td>@campeon.Recurso</td>
                <td>@campeon.Gama</td>
                <td>@campeon.Fecha</td>
                <td>@campeon.CosteRP</td>
                <td>@campeon.CosteAzul</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@campeon.ID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@campeon.ID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

