@model IEnumerable<ProyectoTFG_League.Models.HabilidadModelo>

@{
    ViewData["Title"] = "Habilidades";
}

<style>
    .text-center {
        text-align: center;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .table {
        margin-top: 20px;
    }

        .table th, .table td {
            vertical-align: middle;
        }

    .btn-sm {
        margin: 2px;
    }
</style>

<h1>Lista de Habilidades</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                Campeón
            </th>
            <th class="text-center">
                Tipo+
            </th>
            <th class="text-center">
                Nombre
            </th>
            <th class="text-center">
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td class="text-center">
                    @Html.DisplayFor(modelItem => item.CampeonNombre.Nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td class="text-center font-weight-bold">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DescripicionH)
                </td>
                <td class="text-center">
                    <a asp-controller="Habilidad" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-controller="Habilidad" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Habilidad</a>
</p>
