@model IEnumerable<ProyectoTFG_League.Models.RolModelo>

@{
    ViewData["Title"] = "Lista de Roles";
}

<style>
    .text-center {
        text-align: center;
    }
    .font-weight-bold {
        font-weight: bold;
    }
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .table {
        margin-top: 20px;
    }
    .table th, .table td {
        vertical-align: middle;
    }
    .btn-sm {
        margin: 2px;
    }
</style>

<h1 class="text-center">Lista de Roles</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">Rol</th>
            <th class="text-center">Descripción</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var rol in Model)
        {
            <tr>
                <td class="text-center">
                    @if (rol.Imagen != null && rol.Imagen.Length > 0)
                    {
                        <img src="data:image;base64,@Convert.ToBase64String(rol.Imagen)" alt="Imagen de @rol.Nombre" class="img-thumbnail" width="220" height="220" />
                    }
                </td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@rol.ID">@rol.Nombre</a>
                </td>
                <td class="text-center">@rol.DescripcionR</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@rol.ID" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@rol.ID" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-primary">Añadir Nuevo Rol</a>
</div>
